@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic);

.home{
    margin-top: 1%;
    margin-left: 5%;
    font-size: 30px;
}
.searchbar {
    padding: 20%;
    margin-left: 5%;
    font-family: sans-serif;
    font-size: 16px;
    text-align: center;
}

.logIn{
    margin-left: 75%;
}

#username{
	font-weight: bold;
	font-size: 16px;
}

#username a{
	text-decoration: none;
}

.signup{
	background-color: #FFFFFF;
	padding-top: 2%;
	padding-bottom: 2%;
    padding-left: 15%;
	margin-left: 25%;
	margin-right: 25%;
	border-radius: 2%;
	border: 2px solid #999999;
}

.welcome{
    background-color: #FFFFFF;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 10%;
    border-radius: 2%;
    border: 2px solid #999999;
}

.support{
    background-color: #FFFFFF;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 5%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 2%;
    border: 2px solid #999999;
}

.footer ul{
    list-style-type: none;
    text-align: center;
    margin-top: 5%;
}

.footer ul li{
    display: inline;
}

.footer ul li a{
    text-decoration: none;
    color: inherit;
}

.footer {
    margin-top: 10%;
}

.welcomefooter{
    margin-top: 40%;
}

.welcomefooter ul{
    list-style-type: none;
    text-align: center;
    margin-top: 5%;
}

.welcomefooter ul li{
    display: inline;
}

input[type=text]{
    width: 295px;
    padding: 1%;
    outline: none;
    border: 2px solid #999999;
    border-radius: 5px;
    background-color: #FBFBFB;
    font-size: 16px;
    color: #000000;
}

input[type=password]{
    width: 295px;
    padding: 1%;
    outline: none;
    border: 2px solid #999999;
    border-radius: 5px;
    background-color: #FBFBFB;
    font-size: 16px;
    color: #000000;
}

body.homepage{
    background-image: url(http://i103.photobucket.com/albums/m133/Merel_Theisen/english-garden_zpsnkzctbpw.jpg) !important;
    background-repeat: no-repeat;
    background-size: 100%;
}

body.search{
    background-image: none;
}

body.search .searchbar{
    padding: 0;   
}

.profile{
   margin-left: 10%;
}

.profile .searchbar{
    padding: 0;
}

.unsuccessful{
    text-align: center;
    font-size: 20px;
    margin-top: 2%;
    margin-bottom: 25%;
}

.successful{
     margin-left: 30%;
     margin-bottom: 10%;
}

.gardenerphoto{
    margin-top: 5%;
    font-size: 36px;
    margin-right: 5%; 
}

.gardenerdetails{
    margin-top: -8%;
    margin-left: 12%;
}

.rating{
    margin-left: 55%;
    margin-top: -6%;
}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

.popupContainer{
	position:absolute;
	width:330px;
	height: auto;
	left:45%;
	top:80px;
	background: #FFF;
}

#modal_trigger {
    margin:5%;
}

.container {
    border-spacing: 1em;
}

#settingsicon {
    position: relative;
    float: right;
    margin-right: 1em;
}

#signouticon {
    position: relative;
    float: right;
}

#contact-information {
    width: 200px;
    position: relative;
    float: left;
}



.profile-photo, .profile-name {
    position: relative;
    float: left;
}

.profile-name, .message-icon, #contact-information {
    margin-left: 20px;
}

.gardener-photo {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
}

.gardener-name {
    float: left;
    vertical-align: top;
    margin-top: 5px;
    margin-left: 5px;
}

h1 {
    width: 300px;
}

.gardener-profile-info, .country-info, .customer-review {
    margin-top: 30px;
    margin-left: 5px;
    margin-right: 5px;
}

.gardener-profile-name {
    font-size: 200%;
    margin-top: 10px;
    margin-left: 10px;
    width: 300px;
}

.gardener-block, .customer-block {
    float: left;
    width: 100%;
}

.gardener-services {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.gardener-services-list, .gardener-services-list {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.ratings-title {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.star {
    float: left;
    margin-left: 5px;
    margin-bottom: 5px;
    color: #FFD633;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
}

#gardener-wall {
    width: 100%;
    margin-top: 20px;
}

#name-and-info {
    width: 50%;
    float: left;
}

#services-list {
    width: 20%;
    float: left;
}

#ratings-list {
    width: 17%;
    float: left;
}


.one_half {width:50%; display: block; float:left;}
.one_half.last {width:45%; margin-left:5%;}

/* Popup Styles*/
.popupHeader {font-size:16px; text-transform: uppercase;}
.popupHeader {background:#F4F4F2; position:relative; padding:10px 20px; border-bottom:1px solid #DDD; font-weight:bold;}
.popupHeader .modal_close {position: absolute; right: 0; top:0; padding:10px 15px; background:#E4E4E2; cursor: pointer; color:#aaa; font-size:16px;}

.popupBody {padding:20px;}


/* Social Login Form */
.social_login {}
.social_login .social_box {display:block; clear:both; padding:10px; margin-bottom: 10px; background: #F4F4F2; overflow: hidden;}
.social_login .icon {display:block; width:30px; padding:5px 10px; margin-right: 10px; float:left; color:#FFF; font-size:16px; text-align: center;} 
.social_login .fb .icon {background:#3B5998;}
.social_login .google .icon {background:#DD4B39;}
.social_login .icon_title {display:block; padding:5px 0; float:left; font-weight: bold; font-size: 16px; color:#777;}
.social_login .social_box:hover {background: #E4E4E2;}

.centeredText {text-align: center; margin: 20px 0; clear: both; overflow: hidden; text-transform: uppercase;}

.action_btns {clear:both; overflow: hidden; text-align: center;}
.action_btns a {display: block;}

/* User Login Form */
.user_login {display: none;}
.user_login label {display: block; margin-bottom:5px;}
.user_login input[type="text"], .user_login input[type="email"], .user_login input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
.user_login input[type="checkbox"] {float:left; margin-right:5px;}
.user_login input[type="checkbox"]+label {float:left;}

.user_login .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}
.forgot_password {display:inline; margin-top: 2%; overflow: hidden; text-decoration: none; color:#ED6347;}

/* User Register Form */
.user_register {display: none;}
.user_register label {display: block; margin-bottom:5px;}
.user_register input[type="text"], .user_register input[type="email"], .user_register input[type="password"] {display: block; width:90%; padding: 10px; border:1px solid #DDD; color:#666;}
.user_register input[type="checkbox"] {float:left; margin-right:5px;}
.user_register input[type="checkbox"]+label {float:left;}

.user_register .checkbox {margin-bottom: 10px; clear: both; overflow: hidden;}